/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28 nov 2023, 22:28:01
    Author     : Astrid
*/

/*BARRA DE DESPLAZAMIENTO*/
.popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc; 
    z-index: 1;
    overflow-x: auto; /* Agrega desplazamiento horizontal */
    overflow-y: auto; /* Agrega desplazamiento vertical */
    max-height: 80%; /* Establece la altura m치xima para que el contenedor sea scrollable */
    max-width: 80%; /* Establece el ancho m치ximo para que el contenedor sea scrollable */
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
/*************************************************************************************************/
.popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc; 
    z-index: 1;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.td {
    width: 200px; 
}

/* Estilo para el bot칩n "Ver detalles" */
.open-popup-btn {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px auto; /* Centra los botones vertical y horizontalmente */
}

.open-popup-btn:hover {
    background-color: #45a049;
}

/* Estilo para el bot칩n "Cerrar" dentro del pop-up */
.popup-container button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.popup-container button:hover {
    background-color: #d32f2f;
}


